<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demoMybatisPlus.menu.mapper.MenuMapper">

    <resultMap id="menus" type="com.example.demoMybatisPlus.menu.dto.MenuDto">
        <id column="id_1" property="id"/>
        <result column="parent_id_1" property="parentId"/>
        <result column="type_1" property="type"/>
        <result column="title_1" property="title"/>
        <result column="key_1" property="key"/>
        <result column="parent_key_1" property="parentKey"/>
        <result column="icon_1" property="icon"/>
        <result column="route_to_1" property="routeTo"/>
        <result column="create_by_1" property="createBy"/>
        <result column="create_time_1" property="createTime"/>
        <result column="update_by_1" property="updateBy"/>
        <result column="update_time_1" property="updateTime"/>
        <result column="is_del_1" property="isDel"/>

        <collection property="subMenus" ofType="com.example.demoMybatisPlus.menu.dto.MenuDto">
            <id column="id_2" property="id"/>
            <result column="parent_id_2" property="parentId"/>
            <result column="type_2" property="type"/>
            <result column="title_2" property="title"/>
            <result column="key_2" property="key"/>
            <result column="parent_key_2" property="parentKey"/>
            <result column="icon_2" property="icon"/>
            <result column="route_to_2" property="routeTo"/>
            <result column="create_by_2" property="createBy"/>
            <result column="create_time_2" property="createTime"/>
            <result column="update_by_2" property="updateBy"/>
            <result column="update_time_2" property="updateTime"/>
            <result column="is_del_2" property="isDel"/>
        </collection>
    </resultMap>

    <select id="getMenus" resultMap="menus">
        SELECT * FROM
            (SELECT `id` AS id_1,`parent_id` AS `parent_id_1`,`type` AS type_1,`title` AS title_1,`parent_key` AS `parent_key_1`,`key` AS key_1,`icon` AS icon_1,
                    `route_to` AS `route_to_1`,`create_time` AS `create_time_1`,`create_by` AS `create_by_1`,`update_time` AS `update_time_1`,`update_by` AS `update_by_1`,`is_del` AS `is_del_1`
             FROM `menu`
             WHERE parent_id IS NULL and is_del=0) parent_menu
                LEFT JOIN
            (SELECT `id` AS id_2,`parent_id` AS `parent_id_2`,`type` AS type_2,`title` AS title_2,`parent_key` AS `parent_key_2`,`key` AS key_2,`icon` AS icon_2,
                    `route_to` AS `route_to_2`,`create_time` AS `create_time_2`,`create_by` AS `create_by_2`,`update_time` AS `update_time_2`,`update_by` AS `update_by_2`,`is_del` AS `is_del_2`
             FROM `menu`
             WHERE parent_id IS NOT NULL  and is_del=0
            ) sub_menu
            ON parent_menu.id_1=sub_menu.parent_id_2
        ORDER BY parent_menu.id_1,sub_menu.id_2
    </select>
</mapper>
